body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  width: 100%;
  min-height: 100vh;
  mix-blend-mode: darken;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(40, 36, 36, 0.5)),url(https://res.cloudinary.com/grohealth/image/upload/c_fill,f_auto,fl_lossy,h_650,q_auto,w_1085/v1583748171/DCUK/Content/iStock-857145602.jpg) center/cover ;
  padding-top: 150px;

}

.title {
  color: white;
  text-transform: uppercase;
  font-size: 52px;
  font-weight: 700;
  padding-bottom: 30px;
}

.sub-title {
  text-transform: uppercase;
  font-weight: 200;
  color: #ffffff;
  padding-bottom: 40px;
}
.sub-title span{
  font-weight: 900;
  color: #ffcf3c;
}
.btn{
  margin-bottom: 10px;
}
tbody{
  color: black;
}
.alert{
  background: #ffd5d5;
  color: #ff0000;
  text-align: center;
  font-size: 22px;

  width: 350px;
  margin: 0 auto;
}
.overflow-scroll{
  overflow-x: scroll;
}

